<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <%= render 'utils/progressbar', classname: "small", step: 2, navigations: ["Profile", "Skills"] %>
      <div class="card">
        <div class="card-body">
          <div id="form-skills"
            data-resource="developers"
            data-id="<%= @developer.id %>"
            data-competences="<%= Competence.all.to_json(only: [:value, :level]) %>"
            data-devskills="<%= @developer.skills.to_json(only: [:name, :level])  %>">
          </div>
          <div class="text-center">
            <%= link_to "Continue to your dashboard", dashboard_developers_path, class: "btn btn-primary btn-lg mt-4 mb-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
