<div id ="dashboard-container" class="container mt-5" style="min-height: 100vh">

  <%= link_to "Edit your profile", edit_profile_developers_path %> -
  <%= link_to "Edit email and password", edit_developer_registration_path %> -
  <%= link_to "See your profile", developer_path(current_developer) %> -
  <%= link_to "Manage your skills", add_skills_developers_path %>
  <div class="d-flex my-3" id="params-container"></div>

  <div class="row">
    <div class="col-lg-3">
      <div class="accordion" id="accordion">
        <%= form_for(:developer, :url => { :action => "dashboard" }, :html => {:method => :get, id: "filter"}, remote: true) do |f| %>

          <%= render "utils/checkboxes_filter", title: "Benefits", dataset: @benefits, value: "benefits[]", collapse_name: "benefitsCollapse" %>
          <%= render "utils/checkboxes_filter", title: "Cultures", dataset: @cultures, value: "cultures[]", collapse_name: "culturesCollapse" %>
          <%= render "utils/checkboxes_filter", title: "Cities", dataset: @cities, value: "cities[]", collapse_name: "citiesCollapse" %>
          <%= render "utils/checkboxes_filter", title: "Salary", dataset: @salaries, value: "salaries[]", collapse_name: "salaryCollapse" %>

          <% if @developer.remote == ["remote", "office"] %>
            <%= render "utils/checkboxes_filter", title: "Remote/Office", dataset: ["Remote", "Office", "Both"], value: "remote[]", collapse_name: "remoteCollapse" %>
          <% end %>

          <%= submit_tag("Search")%>
        <% end %>
      </div>
    </div>

    <div class="col-lg-8" id="jobs-list">
      <%= render @jobs %>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-4">
    <b>Your job applications:</b>
    <br />
    <% @developer.applications.each_with_index do |application, index| %>
      <p><%= index+1 %> For: <%= application.match.job.title %> - State: <%= application.status %> <%= link_to "See application", new_job_application_path(application.match.job) %></p>
    <% end %>
  </div>
</div>
