<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <%= render 'utils/progressbar', classname: "small", step: 1, navigations: ["Dev profile", "Skills"] %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Complete your developer profile</h5>
          <%= simple_form_for @developer, method: :patch do |f| %>
            <div class="form-row">
              <div class="col">
                <%= f.input :first_name %>
              </div>
              <div class="col">
                <%= f.input :last_name %>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label string required">Which kind of job. Flag both if you are open to any kind of job</label><br/>
              <%= f.collection_check_boxes :remote, [['remote', 'remote'],['office', 'office']], :first, :last, include_hidden: false %>
              <small id="passwordHelpBlock" class="form-text text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</small>
            </div>

            <div id="location-info">
              <%= f.input :city, label: "Where are you from", input_html: { id: "locality", value: "#{@developer.city}" } %>
              <%= f.input :state, input_html: { id: "administrative_area_level_1" }%>
              <%= f.input :country, input_html: { id: "country" }, as: :string %>
              <div id="select-distance" class="hidden">
                <p>How far are you available to move? <span id="range-distance" class="float-right"><%= @developer.mobility%> Mi</span></p>
                <%= f.input :mobility, input_html: { type: "range", value: "#{@developer.mobility}", min: 20, max: 1000, step: 20 }, label: false %>
              </div>
              <%= f.input :full_mobility, label: "I don't care about distance. Full mobility ok" %>
            </div>

            <!-- <div class="d-flex justify-content-between">
              <div class="w-75">
              <%= f.input :min_salary, input_html: { type: "range", value: "#{@developer.min_salary.nil? || 10000 }", min: 0, max: 200000, step: 10000}, label: "Minumum Salary" %>
              </div>
              <div class="w-25">
                <p id="salary"><%= @developer.min_salary.nil? || 10000 %>$</p>
              </div>
            </div> -->

            <%= f.input :avatar, as: :file, :input_html => { :data => {"direct-upload-url": "#{root_url}rails/active_storage/direct_uploads" }, accept: "image/x-png,image/jpeg" } %>
            <%= f.input :resumes, as: :file, :input_html => {multiple: true , :data => {"direct-upload-url": "#{root_url}rails/active_storage/direct_uploads" }, accept: "application/pdf" } %>

            <%= f.label :need_us_permit, 'Do you need a work permit in the USA?' %>
            <%= f.input :need_us_permit %>


            <%= f.input :linkedin_url do %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://www.linkedin.com/in/</span>
              </div>
              <input type="text" class="form-control string" id="basic-url" aria-describedby="basic-addon3" id="linkedin_url" type="text" name="developer[linkedin_url]" value="<%= @developer.linkedin_url.split("/")[-1] if  @developer.linkedin_url%>" placeholder="Your name">
            </div>
            <% end  %>

            <%= f.input :github_url do %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                </div>
                <input type="text" class="form-control string" id="basic-url" aria-describedby="basic-addon3" id="github_url" type="text" name="developer[github_url]", value="<%= @developer.github_url.split("/")[-1] if @developer.github_url%>" placeholder="Your name">
              </div>
            <% end  %>

            <div class="text-center">
              <%= link_to "Continue", dashboard_developers_path, class: "btn btn-primary mt-4 mb-2" %>
            </div>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
