
<div class="container-fluid user-job-show-container">

  <div class="row">

    <div class="col-sm-12 col-md-6 job-details-container">
      <%= render 'jobs/full_job' %>
    </div>

    <div class="col-sm-12 col-md-6 job-application-container">
      <% if !@is_posted %>
        <div class="job-show-titles mb-4">
          <h4 class="row justify-content-center underlined">Apply to this job</h4>
        </div>

        <% if (!@applications_sent.nil? && @applications_sent >= 5) %>

          <p class="alert pt-3 pb-3" role="alert" style="color: gray;">
            <i class="fas fa-exclamation-triangle fa-2x fa-pull-left fa-border"></i> You have reached the maximum number of applications per day <br/ >(5 per day).
          </p>
        <% else %>
        <%= simple_form_for([@job, @application]) do |f| %>
          <%= f.input :message,  :input_html => {:rows => 5}, label: "Write a message to the recruiter at #{@recruiter}", required: true %>

          <% if !@developer.resumes.attached? %>
            <%= f.simple_fields_for @developer do |f| %>
              <%= f.input :resumes, as: :file, :input_html => {multiple: true , :data => {"direct-upload-url": "#{root_url}rails/active_storage/direct_uploads" }, accept: "application/pdf" } %>
            <% end  %>
          <% else %>
            <p class="alert pt-3 pb-3" role="alert" style="color: gray;">
              <i class="fas fa-quote-left fa-2x fa-pull-left fa-border"></i> We will attach the resume uploaded on your profile with this request.
            </p>
          <% end  %>

            <%= f.submit "Send application", class: "btn btn-orange btn-application btn-block" %>
          <% end %>
        <% end %>



         <% else %>

          <div class="job-show-titles">
            <h4 class="row justify-content-center underlined">Application sent</h4>
          </div>

          <div class="applied-message">
            <h5 class="h6 centered">Congratulations!</h5>
            <p>Your application has beeing sent and will be reviewed by the recruiters at <%= @job.company.name %>.</p>
            <p>At this time, you can check your application status on your dashboard under the “Applications” tab.</p>
          </div>

       <% end %>

    </div>

  </div>

  <div class="centered my-5">
    <%= link_to "< Back", dashboard_developers_path(@developer), class: "btn-orange btn-back"  %>
  </div>
</div>
