<div class="container-fluid user-job-show-container">
  <div class="row">
    <!-- Job details -->
    <div class="col-sm-12 col-md-6 job-details-container">

      <%= render 'jobs/full_job' %>

    </div>


    <!-- Application -->
    <div class="col-sm-12 col-md-6 job-application-container">

     <% if !@is_posted %>
     <%= simple_form_for([@job, @application]) do |f| %>
     <div class="job-show-titles">
       <h4 class="row justify-content-center underlined">Apply to this job</h4>
     </div>
     <% if !@developer.resumes.attached? %>
     <%= f.simple_fields_for @developer do |f| %>
     <%= f.input :resumes, as: :file, :input_html => {multiple: true , :data => {"direct-upload-url": "#{root_url}rails/active_storage/direct_uploads" }, accept: "application/pdf" } %>
     <% end  %>
     <% else %>
     <p class="pt-3 pb-3">We will attach the resume uploaded on your profile with this request.</p>
     <%= f.input :message,  :input_html => {:rows => 5}, label: "Write a message to the recruiter" %>
     <% end  %>
     <hr class="mb-4">
     <%= f.submit 'Send application', class: "btn-orange btn-application", style: "display: block; width: 100%; margin: 0;" %>
     <% end %>
     <% else %>
     <div class="job-show-titles">
       <h4 class="row justify-content-center underlined">Application sent</h4>
     </div>

     <div class="applied-message">
      <h5 class='h6 centered'>Congratulations!</h5>
      <p>Your application has beeing sent and will be reviewed by the recruiters at <%= @job.company.name %>.</p>
      <p>By this time, you can <b>check your application status</b> on your dashboard, under the "Applications" tab.</p>
    </div>

    <% end %>

  </div>
</div>

<div class="centered my-5"> <%= link_to "Back", dashboard_developers_path(@developer), class: "btn-orange btn-back"  %>
</div>
</div>

<script>
  $('.custom-file-input').on('change', function() {
   let fileName = $(this).val().split('\\').pop().slice(0,22)+"...";
   $(this).next('.custom-file-label').addClass("selected").html(fileName);
 });

  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>







