<div class="container-fluid company-job-matched-container">
  <div class="row">
    <!-- user details -->
    <div class="col-sm-12 col-md-6 user-details-container">

      <div class="user-show-titles">
        <h4 class="row justify-content-center underlined-orange-dark" style=>Candidate</h4>
      </div>

      <div class="user-intro mx-auto">
        <div class="avatar">
          <%= image_tag @developer.avatar.variant(resize: "300x300^", gravity:"center", extent: "300x300"), class: "d-block mx-auto", style: "align-self: center;" if !@developer.avatar.attachment.nil?  %>
        </div>
        <div class="user-info">
          <h5 class="pt-3"><%= @developer.full_name %></h5>
          <% if @developer.github_url? %>
          <a href="<%= @developer.github_url %>" target="_blank">
            <i class="fab fa-github fa-2x" style="color: #24292e; text-decoration: none; margin-right: 1vh; margin-left: 1vh;"></i></a>
            <% end %>

            <% if @developer.linkedin_url? %>
            <a href="<%= @developer.linkedin_url %>" target="_blank">
              <i class="fab fa-linkedin fa-2x" style="color: #0073b1; text-decoration: none; margin-right: 1vh; margin-left: 1vh;"></i></a>
              <% end %>
              <h6 class="pt-3">Current location: <br /></h6>
              <p><%= @developer.city %>, <%= @developer.country %></p>
            </div>
          </div>

          <div class="user-matched-skills centered mx-auto">

            <div class="row" style="padding-right: 12px; padding-left: 12px;">
              <div class="col-md-12 col-lg-6">
                <div class="user-show-titles">
                  <h5 class="h6 underlined-top-orange pt-3 mt-4"><%= @developer.first_name %>'s skills</h5>
                </div>
                <div style="max-width: 330px; margin: auto;">
                  <%= render "developers/shared/skills_table" %>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="user-show-titles">
                  <h5 class="h6 underlined-top-orange pt-3 mt-4">Your job's skills</h5>
                </div>
                <div style="max-width: 330px; margin: auto;">
                  <%= render "jobs/shared/skills_table", skills: @job.skills %>
                </div>

              </div>
            </div>
          </div>
        </div>



      <!-- Application -->
      <div class="col-sm-12 col-md-6 job-application-container">
        <div class="user-show-titles">
         <h4 class="row justify-content-center underlined">Application</h4>
       </div>
       <h6 class="text-muted centered" style="font-size: 15px;"><%= @job.title %></h6>
       <h5 class="matched-job-skills-title centered pt-4">Current state</h5>
       <div class="application-buttons mx-auto" style= "max-width: 100px;">
        <% if @application.status == "contacted" %>
        <div class="badge btn-contacted">Contacted</div>
        <% elsif @application.status == "opened" %>
        <div class="badge btn-opened">Opened</div>
        <% elsif @application.status == "rejected" %>
        <div class="badge btn-pending">Rejected</div>
        <% else %>
        <div class="badge btn-pending">New</div>
        <% end %>
      </div>


      <div class="row">
        <div class="col-md-12 pt-4">
          <h4 class='h6'>Message from <%= @developer.first_name %></h4>
          <p><%= @application.message %></p>
        </div>
      </div>

      <% if current_recruiter.company.is_allowed_member %>

      <div class="row pt-4 pb-4">
        <div class="col-xs-12 col-sm-12 centered">
          <h4 class='h6'>Resume</h4>
          <% @developer.resumes.each do |resume| %>
          <%= link_to "Download", rails_blob_path(resume, disposition: "attachment"), class: "btn btn-orange btn-application-small", style: "padding-top: 6px;" %>
          <% end %>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="user-show-titles">
            <h5 class="h6 justify-content-center underlined-top-orange mb-0 pb-0 pt-3"></h5>
          </div>
          <h4 class='h6'>Contact <%= @developer.first_name %> by email</h4>

          <%= simple_form_for :application,  url: contact_job_application_path(@job), method: :post do |f| %>
          <div class="form-group">
            <textarea rows="4" cols="50" name="private_message" class="input-group" placeholder="Type your personal message for the candidate" required></textarea>
          </div>
          <div class="centered">
            <%= f.submit 'Send email', class: "btn btn-orange btn-application" %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row mt-5">
        <h4 class='h6'>Reject this application</h4>
        <p>In case the candidate do not match with your needs please reject the application request.</p>
        <%= link_to "Reject application", reject_job_application_path(@job), method: :post, class: "btn btn-danger", :data => {:confirm => 'Are you sure?'} %>
      </div>
      <% else %>
        <div class="alert alert-info mt-5">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="fas fa-exclamation-triangle fa-3x fa-pull-left fa-border fa-border-info"></i>
          <p><strong>We’re happy to see that you have interest in a job from a qualified developer!</strong><br>In order to review their application materials and contact them, please <%= link_to "Become a member", pages_path(:pricing) %> once again.</p>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="centered my-5">
  <%= link_to "< Back", dashboard_companies_path(@company), class: "btn-orange btn-back"  %>
</div>
</div>
