<div class="container-fluid company-job-matched-container">
  <div class="row">
    <!-- user details -->
    <div class="col-sm-12 col-md-6 user-details-container">

      <div class="user-show-titles">
        <h4 class="row justify-content-center underlined-orange-dark" style=>Candidate</h4>
      </div>

      <div class="row mx-auto pt-3">
        <div class="col-xs-12 col-md-12 avatar centered mx-auto">
          <%= image_tag @developer.avatar.variant(resize: "300x300^", gravity:"center", extent: "300x300"), class: "d-block mx-auto " if !@developer.avatar.attachment.nil?  %>

        </div>
      </div>
      <div class="row mx-auto user-introduction">
        <div class="col-xs-12 col-md-12 centered">
          <h5 class="mt-2"><%= @developer.full_name %></h5>

          <% if @developer.github_url? %>
          <a href="<%= @developer.github_url %>" target="_blank">
            <i class="fab fa-github fa-2x" style="color: #24292e; text-decoration: none; margin-right: 1vh; margin-left: 1vh;"></i></a>
            <% end %>

            <% if @developer.linkedin_url? %>
            <a href="<%= @developer.linkedin_url %>" target="_blank">
              <i class="fab fa-linkedin fa-2x" style="color: #0073b1; text-decoration: none; margin-right: 1vh; margin-left: 1vh;"></i></a>
              <% end %>
            </div>
          </div>

          <div class="row centered justify-content-center pt-4 pb-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 user-matched-skills">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">
                 <table class="table">
                  <tbody>
                   <tr>
                    <td colspan="3">
                      <div class="user-show-titles">
                       <h5 class="h6 justify-content-center underlined-top-orange mb-0 pb-0 pt-3"><%= @developer.first_name %>'s skills</h5>
                     </div>
                   </td>
                   <td colspan="3">
                    <div class="user-show-titles">
                     <h5 class="h6 justify-content-center underlined-top-orange mb-0 pb-0 pt-3">Job's skills</h5>
                   </div>
                 </td>
               </tr>
               <tr>
                <td><i class="devicon-javascript-plain colored"></i></td>

                <td>Javascript</td>
                <td>4</td>
                <td><i class="devicon-javascript-plain colored"></i></td>

                <td>Javascript</td>
                <td>3</td>
              </tr>
              <tr>
                <td><i class="devicon-css3-plain colored"></i></td>
                <td>CSS</td>
                <td>3</td>
                <td><i class="devicon-css3-plain colored"></i></td>

                <td>CSS</td>
                <td>2</td>
              </tr>
              <tr>
                <td><i class="devicon-html5-plain colored"></i></td>

                <td>HTML</td>
                <td>3</td>
              </tr>
              <tr>
                <td><i class="devicon-rails-plain colored"></i></td>
                <td>Rails</td>
                <td>2</td>
              </tr>
              <tr>
                <td><i class="devicon-angularjs-plain colored"></i></td>

                <td>Angular</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!--       <div class="row">
        <div class="col-xs-12 col-sm-12">
        <%= image_tag "peopleoffice.jpg", class: "user-photo" %>
        </div>
      </div> -->



      <!-- Application -->
      <div class="col-sm-12 col-md-6 job-application-container">
        <div class="user-show-titles">
         <h4 class="row justify-content-center underlined">Application</h4>
       </div>
       <h6 class="centered"><%= @job.title %></h6>
       <h5 class="matched-job-skills-title centered pt-4">Current state</h5>
       <div class="application-buttons mx-auto" style= "max-width: 100px;">
        <% if @application.status == "contacted" %>
        <div class="badge btn-contacted">Contacted</div>
        <% elsif @application.status == "opened" %>
        <div class="badge btn-opened">Opened</div>
        <% else %>
        <div class="badge btn-pending">New</div>
        <% end %>
      </div>


      <div class="row">
        <div class="col-md-12 pt-4">
          <h4 class='h6'>Message from <%= @developer.first_name %></h4>
          <p><%= @application.message %></p>
        </div>
      </div>

      <div class="row pt-4 pb-4">
        <div class="col-xs-12 col-sm-12 centered">
          <h4 class='h6'>Resume</h4>
          <% @developer.resumes.each do |resume| %>
          <%= link_to "Download", rails_blob_path(resume, disposition: "attachment"), class: "btn btn-orange btn-application-small", style: "padding-top: 6px;" %>
          <% end %>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="user-show-titles">
            <h5 class="h6 justify-content-center underlined-top-orange mb-0 pb-0 pt-3"></h5>
          </div>
          <h4 class='h6'>Contact <%= @developer.first_name %> by email</h4>

          <%= simple_form_for :application,  url: contact_job_application_path(@job), method: :post do |f| %>
          <div class="form-group">
            <textarea rows="4" cols="50" name="private_message" class="input-group" placeholder="Type your personal message for the candidate" required></textarea>
          </div>
          <div class="centered">
            <%= f.submit 'Send email', class: "btn btn-orange btn-application" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="centered my-5">
  <%= link_to "< Back", dashboard_companies_path(@company), class: "btn-orange btn-back"  %>
</div>
</div>
