<%= simple_form_for company, url: url, action: :update, local: true do |form| %>
  <%= form.input :name %>
  <%= form.input :url %>
  <%= form.input :industry %>
  <%= form.input :vetted %>
  <hr>
  <h5>Pictures</h5>
  <%= form.file_field :images, multiple: true, direct_upload: true %>
  <hr>
  <%= form.submit "Update", class: "btn btn-primary" %>
<% end %>
