  <h3><%= @company.name %></h3>
  <p><%= @company.industry %></p>
  <% if @company.url %>
    <a target="_blank" href="<%= @company.url %>"><%= @company.url %></a>
  <% end %>

  <hr>
  <h5 class="mb-3">Membership details:</h5>
  <% if !@company.subscriber.nil?  %>
    <p>Plan: <%= @company.subscriber.plan.name %></p>
    <p>Current status: <b><%= @company.subscriber.status %></b></p>
    <p>Stripe client ID: <a target="_blank" href="https://dashboard.stripe.com/customers/<%= @company.subscriber.stripe_customer_id %>"><%= @company.subscriber.stripe_customer_id %></a></p>
    <p>Stripe Subscription ID: <a target="_blank" href="https://dashboard.stripe.com/subscriptions/<%= @company.subscriber.stripe_subscription_id %>"><%= @company.subscriber.stripe_subscription_id %></a></p>
    <p>Subscribed at: <%= @company.subscriber.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>

    <% if !@company.subscriber.subscription_expires_at.nil? %>
      <p>Next billing expected: <%= @company.subscriber.subscription_expires_at.to_time.strftime('%B %e at %l:%M %p') %></p>
    <% end %>
  <% end %>


  <br>
  <br>



<%= link_to 'Edit', edit_admin_company_path(@company) %> |
<%= link_to 'Back', admin_companies_path %>
