<%= tinymce_assets %>
<%= tinymce %>

<div class="card">
  <div class="card-body">
    <%= simple_form_for job, url: url, action: :update, local: true, html: { novalidate: true } do |f| %>

      <h4 class="text-center my-3 mb-5">Create your job</h4>
      <h5 class="mb-3">Basic information</h5>

      <%= f.input :title do %>
        <%= f.input_field :title, class: "form-control" %>
        <small class="form-text text-muted">A simple description that refers to the role and level of the position.</small>
      <% end %>

      <%= f.input :description, input_html: { class: 'tinymce', :rows => 8, required: false } %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :max_salary, input_html: { min: 20000, step: 5000 }, placeholder: "40000" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :employment_type, collection: [ "Full-Time", "Part-Time", "Contract"], prompt: "Please select an option" %>
        </div>
      </div>

      <h5 class="mt-5">Can you provide sponsorship?</h5>
      <small class="form-text text-muted mb-3">Are you willing to commence ("sponsor") an immigration case in order to employ a candidate (for example, H-1B or other employment-based immigration case)? This is sometimes called "sponsorship" for an employment-based visa status.</small>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" value="1" <%= "checked" if @job.can_sponsor %> id="customRadioInline1" name="job[can_sponsor]" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Yes</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" value="0" <%= "checked" if !@job.can_sponsor %> id="customRadioInline2" name="job[can_sponsor]" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">No</label>
      </div>

      <div class="mt-5">
        <h5>Where will the job be located?</h5>
        <small class="form-text text-muted">Please reference the location of the office in which your job posting will be relevant to. If your job posting is for remote work only, please input your company’s registered address.</small>
        <div class="form-row my-3">
          <div class="custom-control  custom-control-inline custom-checkbox mr-3">
            <input type="checkbox" value="remote" <%= "checked" if @job.remote.include?('remote') %> name="job[remote][]" class="custom-control-input" id="job_remote_remote">
            <label class="custom-control-label" for="job_remote_remote">Remote</label>
          </div>
          <div class="custom-control  custom-control-inline custom-checkbox">
            <input type="checkbox" value="office" <%= "checked" if @job.remote.include?('office') %> name="job[remote][]" class="custom-control-input" id="job_remote_office">
            <label class="custom-control-label" for="job_remote_office">In-person</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :city, input_html: { id: "locality", value: "#{@job.city}" } ,required:true %>
        </div>
        <div class="form-group col-md-3">
          <%= f.input :state, input_html: { id: "administrative_area_level_1" } %>
        </div>
        <div class="form-group col-md-3">
          <%= f.input :country, input_html: { id: "country" }, as: :string %>
        </div>
      </div>

      <% if action_name == "edit" && job.company.is_member?  %>
        <h5 class="mt-5">Allow job to be visible?</h5>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.input :active %>
            <small class="form-text text-muted"> You can deactivate the job at any time. It will automatically be removed from job searches.</small>
          </div>
        </div>
      <% elsif action_name == "edit" %>
        <h5 class="mt-5">Allow job to be visibile</h5>
        <div class="alert alert-warning" role="alert">
        You are not anymore a member and the Job is beeing deactive. In order to active the job again please subscibe to a plan. <%= link_to "here", new_subscriber_path %>
        </div>
      <% end %>

      <%= f.hidden_field :navigate_to, value: "benefits" %>

      <div class="text-center">
        <%= f.button :submit, "Continue", class: "btn btn-lg btn-primary mt-4 mb-2" %>
      </div>
    <% end %>
  </div>
</div>
