<div class="card">
  <div class="card-header">
    <%= job.title %> / <%= job.id %>
  </div>
  <div class="card-body">
    <p><%= job.city %></p>
    <h5>Benefit</h5>
    <div class="d-flex">
      <% job.benefits.each do |benefit| %>
        <p class="card-text ml-3"><%= benefit %></p>
      <% end %>
    </div>
    <h5>Cultures</h5>
    <div class="d-flex">
      <% job.cultures.each do |culture| %>
        <p class="card-text ml-3"><%= culture %></p>
      <% end %>
    </div>
    <div class="d-flex">
      Salary:
      <%= job.max_salary %>
      Remote:
      <%= job.remote %>
    </div>
    <div class="d-flex">
      <% job.skills.each do |skill| %>
        <p class="card-text ml-3"><%= skill.name %>
          / lvl:
          <%= skill.level %></p>
      <% end %>
    </div>

  </div>
</div>
