<div class="container-fluid company-job-show-container">
  <div class="row">
    <!-- Job details -->
    <div class="col-sm-12 col-md-12 job-details-container">

      <div class="job-show-titles">
        <h4 class="row justify-content-center underlined-orange-dark" style=><%= @job.title %></h4>
      </div>

          <div class="centered">
      <h5 class="text-muted"><%= @job.company.name  %></h5>
      <p class="text-muted">
        <%= @job.city %>
        <% if @job.remote == ["remote"] %>
        - Remote
        <% elsif @job.remote == ["office"] %>
        - Office
        <% elsif @job.remote == ["remote", "office"]%>
        - Office & Remote
        <% end %>
      </p>
    </div>
      <p class="job-description"><%= raw @job.description %></p>

      <div class="row centered justify-content-center pt-4 pb-4">
        <div class="col-xs-12 col-sm-12 col-md-12 job-show-skills">
          <div class="job-show-titles">
            <h5 class="h6 row justify-content-center underlined-orange pt-3">Main skills</h5>
          </div>
          <%= render "jobs/shared/skills_table", skills: @job.skills %>


          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="job-show-titles">
                <h5 class="h6 row justify-content-center underlined-orange pt-3">Maximum salary</h5>
              </div>
              <div class="row justify-content-center">
                <p class="centered"> $<%= @job.max_salary %></p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="job-show-titles">
                <h5 class="h6 row justify-content-center underlined-orange pt-3">Sponsorship</h5>
              </div>
              <div class="row justify-content-center">
                <p class="centered"><%= @job.can_sponsor ? "Yes" : "No" %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row pb-4">
        <div class="col-xs-12 col-sm-12 col-md-12 mb-3">
          <div class="job-show-titles">
            <h5 class="h6 row justify-content-center underlined-orange pt-3">Benefits</h5>
          </div>
          <div class="row justify-content-center">
            <%= render "jobs/shared/benefits_list", benefits: @job.benefits %>
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 mb-3">
          <div class="job-show-titles">
            <h5 class="h6 row justify-content-center underlined-orange pt-3">Company Values</h5>
          </div>
          <div class="row justify-content-center">
            <%= render "jobs/shared/benefits_list", benefits: @job.cultures %>
          </div>
        </div>
      </div>


      <!-- Carousel beginning -->
      <%= render "utils/carousel", images: @job.company.images %>
      <!-- Carousel ending -->

      <% if recruiter_signed_in? %>
      <div style="display: flex" class="justify-content-center">
        <%= link_to "Edit", edit_job_path(@job), class: "btn btn-orange" %>
      </div>
      <% end %>


    </div>

  </div>
  <div class="row">
    <%= link_to "< Back", :back, class: "btn-orange btn-back" %>
  </div>
</div>
