<%= simple_form_for developer, url: url, action: :update, local: true do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :min_salary %>
    <%= f.input :city %>
    <%= f.input :zip_code %>
    <%= f.input :country %>
    <%= f.input :linkedin_url %>
    <%= f.input :github_url %>

    <%= f.collection_check_boxes :remote, [['remote', 'remote'],['office', 'office']], :first, :last, include_hidden: false %>
    <%= f.input :need_us_permit %>
    <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>


<div id="form-skills"
  data-resource="developers"
  data-id="<%= developer.id %>"
  data-competences="<%= Competence.all.to_json(only: [:value, :level]) %>"
  data-devskills="<%= developer.skills.to_json(only: [:name, :level])  %>">
</div>
