<div>
  <h1>developers</h1>
  <%= link_to 'Add a new developer', new_admin_developer_path %>
</div>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.sort_by(&:created_at).each do |developer| %>
      <tr>
        <td><%= developer.created_at %></td>
        <td><%= link_to developer.full_name, admin_developer_path(developer) %></td>
        <td><%= link_to 'Edit', edit_admin_developer_path(developer) %></td>
        <td><%= link_to 'Destroy', admin_developer_path(developer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
