<div>
  <h1>jobs</h1>
  <%= link_to 'Add a new job', new_admin_job_path %>
</div>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class="<%= "table-success" if job.vetted? %>">
        <td><%= link_to job.title, admin_job_path(job) %></td>
        <td><%= job.company.name %></td>
        <td><%= render 'admin/shared/skills_list', skills: job.skills_array %></td>
        <td><%= link_to 'Edit', edit_admin_job_path(job) %></td>
        <!-- <td><%= link_to 'Destroy', admin_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
