<h3>Dashboard for company <%= @company.name %></h3>

<% if recruiter_signed_in? %>
<%= link_to('Logout Recruiter', destroy_recruiter_session_path, method: :delete) %> -
<%= link_to "Post a job", new_job_path %>
<% end %>


<div class="row">
  <div class="col-4">
    <%= render "utils/carousel", images: @company.images %>
  </div>
</div>


<div class="row">
  <div class="col-4">
    <b>Active jobs:</b>
    <br />
    <% @jobs.each_with_index do |job, index| %>
    <%= index + 1 %> - <%= job.title %> <%= link_to "Edit", edit_job_path(job) %><br/>
    <% end %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-4">
    <b>Your job applications:</b>
    <br />
    <% @company.applications.each_with_index do |application, index| %>
    <p><%= index+1 %> For: <%= application.match.job.title %> - State: <%= application.status %> <%= link_to "See application", job_application_path(application.match.job, application) %></p>
    <% end %>
  </div>
</div>
