<%= form_for culture, url: url, action: :update, local: true do |form| %>

  <% if culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(culture.errors.count, "error") %> prohibited this culture from being saved:</h2>

      <ul>
      <% culture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
