<li class="nav-item">
  <%= active_link_to "Dashboard", dashboard_developers_path, class: "nav-link" %>
</li>
<li>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-cog"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header"><%= current_developer.email %></h6>
      <%= active_link_to "My Dev Profile", developer_path(current_developer), class: "dropdown-item" %>
      <%= active_link_to "Edit your profile", edit_profile_developers_path, class: "dropdown-item" %>
      <%= active_link_to "Manage your skills", add_skills_developers_path, class: "dropdown-item" %>
      <%= active_link_to "Account settings", edit_developer_registration_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Logout', destroy_developer_session_path, method: :delete , class: "dropdown-item" %>
    </div>
  </div>
</li>
