<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-columns"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_developers_path, class: "nav-link" do %>
          <i class="fas fa-users"></i>
          Developers
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_companies_path, class: "nav-link" do %>
          <i class="far fa-building"></i>
          Companies
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_jobs_path, class: "nav-link" do %>
          <i class="far fa-file-code"></i>
          Jobs
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_competences_path, class: "nav-link" do %>
        <i class="fas fa-code"></i>
        Competences
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_cultures_path, class: "nav-link" do %>
          <i class="fas fa-universal-access"></i>
          Cultures
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_benefits_path, class: "nav-link" do %>
          <i class="fas fa-hand-holding-heart"></i>
          Benefits
        <% end %>
      </li>
    </ul>
  </div>
</nav>
