<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Findmyflock</title>
    <meta name="robots" content="noindex">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= javascript_include_tag 'admin' %>
    <%= javascript_pack_tag 'admin' %>
  </body>
</html>
